services:
  clash:
    image: registry.cn-shenzhen.aliyuncs.com/swpb/clash:20251130
    build: .
    container_name: clash
    restart: always
    ports:
      - 7890:7890
    volumes:
      - ./config.yaml:/etc/clash/config.yaml

  subconverter:
    image: registry.cn-shenzhen.aliyuncs.com/swpb/subconverter:0.9.0
    container_name: subconverter
    restart: always

  cron:
    image: registry.cn-shenzhen.aliyuncs.com/swpb/cron-alpine:20251130
    build: ./cron
    container_name: cron
    restart: always
    depends_on: 
      - subconverter
    volumes:
      - ./config.yaml:/etc/clash/config.yaml
      - ./cron/update_clash.sh:/update_clash.sh
      - ./cron/crontab.config:/etc/crontabs/root